header{
  opacity: 0.5;
}

.nav{
  background-color: #8c8b8b;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 15px;
  box-shadow: 2px 2px 5px black;
  position: fixed;
  width: 99%;
  margin-bottom: 50px;
  z-index: 1000;
}
.nav h1{
  color: #121212;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 40px;
}
.nav ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 1rem;
  align-items: end;
}
.nav li{
 
}
.nav li a{
  text-decoration: none;
  color: #121212;
  font-size: 25px;
  font-weight: bolder;
  border: 2px solid black;
  padding: 2px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 20px;
}

.container-ferrari {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  background:url("img/logo-ferrari.png") no-repeat center top ;
  width: auto;
  height: 500px;
  margin-top: 150px;
  border: 3px solid black;
  box-shadow: 2px 5px 8px #626161;
}
.container-lambo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  background:url("img/Lambo/lamborghini-logo.png") no-repeat center top ;
  width: auto;
  height: 1015px;
  border: 3px solid black;
  box-shadow: 2px 5px 8px #626161;
}

/*@media only screen and (max-width:1300){
  .container-ferrari {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  
}
}*/
body{
  background-color: #f2dbdb;
}
.title h1{
  font-size: 55px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 250px;
  color: black;
  text-align: center;
}

.flip-card{
   /* background-color: transparent;*/
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    perspective: 1000px;
    flex-direction: row;
  }
  .flip-card-front img{
    padding-left:5px ;
    padding-right: 5px;
    border-radius: 10px;

  }
  .flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg); 
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-itens: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 14px;
    background-color: #121212;
  }
  h1, h2, p{
    color:white;
  } 
  p{
    font-size: 25px;
  }
  .flip-card-back {
    transform: rotateY(180deg);
  }